<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <servlet>
    <description>
		</description>
    <display-name>PackageServlet</display-name>
    <servlet-name>PackageServlet</servlet-name>
    <servlet-class>com.tcs.ilp.tsi.servlet.PackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackageServlet</servlet-name>
    <url-pattern>/PackageServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>jsp/addPackage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tcs.ilp.tsi.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>ProductModelServlet</display-name>
    <servlet-name>ProductModelServlet</servlet-name>
    <servlet-class>com.tcs.ilp.tsi.servlet.ProductModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductModelServlet</servlet-name>
    <url-pattern>/ProductModelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>StockDetailsServlet</display-name>
    <servlet-name>StockDetailsServlet</servlet-name>
    <servlet-class>com.tcs.ilp.tsi.servlet.StockDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockDetailsServlet</servlet-name>
    <url-pattern>/StockDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>